/* main model css done  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 70, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.text-container {
    color: white;
    text-align: center;
}
.heading {
    margin-bottom: 0.6rem;
    letter-spacing: 0.2rem;
}
.paragraph {
    letter-spacing: 0.1rem;
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: transparent;
    transition: all 0.3s linear;
}
.btn:hover {
    background-color: azure;
    color: black;
}
.heading span {
    font-weight: bold;
    color: bisque;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

/* main model css done  */

.model-container {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.modal_content {
    width: 65%;
    max-width: 60rem;
    margin: 15% auto;
    background-color: #eee;
    padding: 2rem;
    border: 1px solid #777;
    border-radius: 5px;
    text-align: center;
    position: relative;
    animation: slide ease .8s;
}


.model-heading {
    padding-top: 0.6rem;
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
}
.close-img {
    width: 1.3rem;
}
.close-img:hover {
    transition: 0.7s;
    transform: rotate(-180deg);
    color: red;
}

.show {
    display: block;
}

/* animations  */
@keyframes slide {
    0% {
        transform: translateY(-30rem);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50rem);
    }
}



.slide-up {
    animation: slide-up ease .8s;
}